<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Two Part HTML Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/static/dashboard_assets/css/template1.css">
  
 
</head>

<body>

  <div class="container">
    <div class="left-side">
      <h2>User Details Form</h2>
      <button type="button" class="custom-button" onclick="toggleContainer()">
        <i class="fas fa-chevron-down"></i>
        <h3>Personal Information</h3>
      </button>

      <div id="profile" class="custom-container custom-container1 hidden">
        <div class="columns-wrapper">
          <div class="column">
            <!-- Column 1: Profile Image -->
            <img src="/static/dashboard_assets/img/team-2.jpg" alt="Profile Image" class="profile-image"><br>
            <button class="edit-button" onclick="openPopup()">
              <i class="fas fa-pencil-alt"></i>&nbsp;
              Edit
            </button><br>


            <div id="imagePopup" class="popup">
              <!-- Popup content -->
              <label for="imageInput">Image:</label>
              <input type="file" id="imageInput" accept="image/*">
              <button onclick="closePopup()">Close</button>
            </div>

          </div>

          <div class="column">
            <!-- Column 2: User Information -->
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input type="text" class="form-control" id="firstName" onkeyup="updateFName_Lname()">
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number:</label>
              <input type="text" class="form-control" id="phoneNumber" onkeyup="updatePhoneno()">
            </div>
            <div class="form-group">
              <label for="phoneNumber">Linked URL:</label>
              <input type="text" class="form-control" id="linkedin" onkeyup="updateLinkedin()">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input type="text" class="form-control" id="lastName" onkeyup="updateFName_Lname()">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" onkeyup="updateEmail()">
            </div>

          </div>
        </div>
      </div>
      <br>
      <button type="button" class="custom-button" onclick="toggleSummary()">
        <i class="fas fa-chevron-down"></i>
        <h3>Profile Summary</h3>
      </button>
      <div id="summary" class="custom-container hidden">
        <div class="experience-content">
          <form>
            <div class="form-group">
              <label for="summaryTextArea">Add Profile Summary:</label>
              <textarea class="form-control" id="summary1" name="summary" cols="45" rows="5"
                onkeyup="updateSummary()"></textarea>
            </div>
          </form>
        </div>
      </div>
      <br>
      <button type="button" class="custom-button" onclick="toggleSkills()">
        <i class="fas fa-chevron-down"></i>
        <h3>Skills</h3>
      </button>

      <div id="skills" class="custom-container custom-container1 hidden">
        <div class="columns-wrapper">
            <div class="column2" id="column1">
                <!-- Column 1: Profile Image -->
    
                

                <div class="form-group" id="skillContainer1">
                  <label for="skill1">Add Skills(Separated by comma):</label>
                  <textarea class="form-control" id="skill1"  cols="45" rows="5"
                  onkeyup="updateSkills()"></textarea>
                </div>
                
  
          </div>
  
         

        </div>
      </div>
      <br>
      <button type="button" class="custom-button" onclick="workexperience()">
        <i class="fas fa-chevron-down"></i>
        <h3>Work Experience</h3>
      </button>
      <div id="container1" class="custom-container">
        <div class="experience-section">
          <div class="experience-header" onclick="toggleExperience(this)">
            <i class="fas fa-chevron-down"></i>
            <p><b>Experience 1</b></p>
          </div>
          <div class="experience-content">
            <form id="experience1">
              <div class="form-group">
                <input type="text" id="jobtitle1" class="form-control" placeholder="Designation" name="jobtitle1"
                  style="height: 30px;" onkeyup="updateExperience()">
              </div>

              <div class="form-group">
                <input type="text" id="company1" class="form-control" placeholder="Company Name" name="company1"
                  style="height: 30px;" onkeyup="updateExperience()">
              </div>
             
             
              <div class="form-group">
                <label for="from1" style="margin-right: 10px;">From:</label>
                <input type="month" id="from1" name="from1" class="form-control" style="height: 35px;"
                  onchange="updateExperience()">
              </div>
              <div class="form-group">
                <label for="to1" style="margin-right: 10px;">To:</label>
                <span id="to1Container">
                    <input type="month" id="to1" class="form-control" name="to1" style="height: 35px;"
                        onchange="updateExperience()">
                </span>
                <label for="present1" style="margin-left: 10px;">
                    <input type="checkbox" id="present1" onchange="handlePresentCheckbox()"> Present
                </label>
            </div>


              <div class="form-group">
                <label for="description1">Description:</label>
                <textarea id="description1" class="form-control" name="description1" rows="5"
                  onkeyup="updateExperienceDescription()"></textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="+ Add New Experience" onclick="addNewExperience()">
        </div>
      </div>
      <br>
      <button type="button" class="custom-button" onclick="education()">
        <i class="fas fa-chevron-down"></i>
        <h3>Education</h3>
      </button>

      <div id="container2" class="custom-container hidden">
        <div class="education-section">
          <div class="education-header" onclick="toggleEducation(this)">
            <i class="fas fa-chevron-down"></i>
            <p><b>Education 1</b></p>
          </div>
          <div class="education-content">
            <form>
              <div class="form-group">
                <input type="text" id="degreeInput" class="form-control" placeholder="Degree" name="degreeInput" style="height: 30px;" onkeyup="updateDegree()">
              </div>
              <div class="form-group">
                <input type="text" id="institution1" class="form-control" placeholder="Institution Name" name="institution1"
                  style="height: 30px;"oninput="updateInstitution()">
              </div>
              <div class="form-group">
                <input type="text" id="city" class="form-control" placeholder="City" name="country1"
                  style="height: 30px;" onkeyup="updateCityCountry()">
              </div>
              <div class="form-group">
                <label for="from1" style="margin-right: 10px;">From:</label>
                <input type="month" id="degreeFromInput" name="degreeFromInput" class="form-control" style="height: 35px;"onchange="updateDegreeYear()" >
              </div>
              <div class="form-group">
                <label for="to1" style="margin-right: 10px;">To:</label>
                <input type="month" id="degreeToInput" class="form-control" name="degreeToInput" style="height: 35px;" onchange="updateDegreeYear()">
              </div>
            </form>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="+ Add New Education" onclick="addNewEducation()">
        </div>
      </div>


      <br>
      <button type="button" class="custom-button" onclick="projects()">
        <i class="fas fa-chevron-down"></i>
        <h3>Projects</h3>
      </button>

      <div id="container3" class="custom-container hidden">
        <div class="project-section1">
          <div class="experience-header" onclick="toggleProjects(this)">
            <i class="fas fa-chevron-down"></i>
            <p><b>Project 1</b></p><br>
          </div>
          <div class="project-content">
            <form id="experience1">
              <div class="form-group">
                <input type="text" id="projectName" class="form-control" placeholder="Project Name" oninput="updateProjectname()" name="company1"
                  style="height: 30px;">
              </div>

              <div class="form-group">
                <label for="description1">Tools used:</label>
                <textarea id="projectTools" class="form-control" name="description1" rows="3" oninput="updateProjectTools()"></textarea>
              </div>
              <div class="form-group">
                <label for="description1">Link:</label>
                <input type="text" id="projectLink" class="form-control" placeholder="Link" name="jobtitle1" oninput="updateProjectLink()"
                  style="height: 30px;">

              </div>
              <div class="form-group">
                <label for="description1">Description:</label>
                <textarea oninput="updateProjectDes()" id="projectDes" class="form-control" name="description1" rows="5"></textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="+ Add New Project" onclick="addNewProject()">
        </div>
      </div><br>
      <button type="button" class="custom-button" onclick="toggleAchievements()">
        <i class="fas fa-chevron-down"></i>
        <h3>Achievements</h3>
      </button>
      <div id="achievements" class="custom-container hidden">
        <div class="experience-content">
          <form>
            <div class="form-group">
              <label for="description1">Add Achievements:</label>
              <textarea id="description1" class="form-control" name="description1" cols="45" rows="5"></textarea>
            </div>
          </form>
        </div>
      </div>
      <br>
      <button type="button" class="custom-button" onclick="toggleLanguages()">
        <i class="fas fa-chevron-down"></i>
        <h3>Languages Known</h3>
      </button>

      <div id="languages" class="custom-container custom-container1 hidden">
        <div class="columns-wrapper">
          <div class="column2" id="column1">
            <!-- Column 1: Profile Image -->
            <div class="form-group" id="languageContainer1">
              <label for="firstName">Language (1):</label>
              <input type="text" class="form-control" id="firstName">
            </div>


            <div class="form-group">
              <input type="submit" value="+ Add Languages" onclick="addLanguageInputFields('column1', 'column3')">
            </div>

          </div>

          <div class="column2" id="column3">
            <!-- Column 2: User Information -->
            <div class="form-group" id="languageContainer3">
              <label for="firstName">Language (2):</label>
              <input type="text" class="form-control" id="firstName">
            </div>

          </div>

        </div>
      </div>
      <br>
    </div>





    <div class="right-side" style="position: relative; overflow-y: auto;">
      <div class="content_wrapper">
        <div id="dynamicContent">
          <div id="temp2" style="width: 595px; height: 842px; position: relative; background: white">
            

          <!--top part naming & photo part-->

          <div style="width: 595px; height: 176px; left: 0px; top: 0px; position: absolute">
            <div
              style="width: 595px; height: 176px; left: 0px; top: 0px; position: absolute; background: rgba(228, 246, 251, 0.50)">
            </div>
          <div style="width:500px; left: 30px; top: 33px; position: absolute; color: #222222; font-size: 26px; font-family: Poppins; font-weight: 600; line-height: 34px; word-wrap: break-word; max-width: 270px;">
  <span id="Display_Fname">Kate</span>&nbsp;<span id="Display_Lname">Bishop</span>
</div>
            <div id="Display_Summary"
              style="width: 313px; left: 32px; top: 104px; position: absolute; color: #222222; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">
              Over 5 years of professional experience conducting UX research and designing interactive end-to-end user
              flows. <br />I enjoy working in close collaboration with teams across technology, business and design.
            </div>
            <div style="width: 154px; height: 108px; left: 385px; top: 40px; position: absolute">
              <div id="Display_lnkedin"
                style=" width:185px;left: 0px; top: 54px; position: absolute; color: black; font-size: 10px; font-family: Poppins; font-weight: 600; text-decoration: underline; line-height: 14px; word-wrap: break-word">
                linkedin.com/in/kate-bishop</div>
              <div
                style="left: 0px; top: 0px; position: absolute; color: #1C8EB5; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">
                Email</div>
              <div
                style="left: 0px; top: 80px; position: absolute; color: #1C8EB5; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">
                Phone</div>
              <div
                style="left: 0px; top: 40px; position: absolute; color: #1C8EB5; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">
                LinkedIn</div>
              <div id="Display_Email"
                style="left: 0px; top: 14px; position: absolute; color: #222222; font-size: 10px; font-family: Poppins; font-weight: 600; text-decoration: underline; line-height: 14px; word-wrap: break-word">
                kate.bishop@katedesign.com</div>
              <div id="Display_Phoneno"
                style="left: 0px; top: 94px; position: absolute; color: #222222; font-size: 10px; font-family: Poppins; font-weight: 600; text-decoration: underline; line-height: 14px; word-wrap: break-word">
                +46 98-765 43 21</div>
            </div id="display_Img">
           
          </div>
        
<div style="clear: both;"></div>

          <!--second section-->
          <div style="position: relative;top: 175px;">
          <div style="width: 258px; height: auto; /*left: 310px; top: 10px; position: absolute;*/ float: right; margin: 10px;">
            <div style="left: 0px; top: 0px; color: #1C8EB5; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word;"> 
                Projects
            </div>
            <div class="projects" style="width: 254px; position: relative;">
                <div class="project-section" style="width: 254px;">   
                    <div id="displayProjectName" style="color: #222222; font-size: 14px; font-family: Poppins; font-weight: 700; line-height: 20px; word-wrap: break-word;">
                        Fees Management System
                    </div>
                    <div style="color: #797979; font-size: 11px; font-family: Prata; font-weight: 400; line-height: 16px; word-wrap: break-word;">
                        <span id="displayProjectTools"> Tools used : </span><span id="displayTools"> Python, Django, MySQL, Excel </span>
                    </div>
                    <div style="color: #797979; font-size: 11px; font-family: Prata; font-weight: 400; line-height: 16px; word-wrap: break-word;">
                        <span id="displayProjectLink"> https://www.kickresume.com/dashboard/resumes/ </span>
                    </div>
                    <div class="content">
                        <div id="displayProjectDes" style=" color: #222222; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word; overflow: hidden;">
                            Developed a streamlined and efficient fees processing website. <br> User-friendly web-based Fees management System that automated entire fee processing
                            workflow by integrating secure payment gateway. <br>Reduced administrative workload and processing time. <br> Students can crack their fees and pay accordingly through Razor pay gateway.                      
                            Developed a streamlined and efficient fees processing website. <br> Students can crack their fees and pay accordingly through Razor pay gateway.  
                        </div>
                    </div>
                </div>  
                <div style="margin-top: 5px;" id="projectsContainer"></div>
            </div>
            <div style="/*left: 310px; top: 590px; position: absolute;*/width: 250px; padding-top: 20px;">
              <div style="/*left: 0px; top: 0px; position: absolute;*/padding: 10px 0 0 0px; color: #1C8EB5; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word;">Skills</div>
              <div id="skillsList" style="width: 245px;  /*left: 0px; top: 28px;*/ position: relative; color: #222222; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word;">
                  <ul>
                      <li>Business Analysis</li>
                      <li>UX Research</li>
                      <li>User Testing and Validation</li>
                      <li>Customer Journey Mapping</li>
                      <li>Information Architecture</li>
                      <li>Low- and High- Fidelity Wireframing</li>
                  </ul>
              </div>
          </div>
        </div>


        
            <div style="width: 254px; height: auto; /*left: 32px; top: 200px; position: absolute;*/  padding: 10px 0 0 20px;">
              <div class="experience-education-container">
                <div class="work-experience">
                  <div style="color: #1C8EB5; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word;">
                    Work experience
                  </div>
                  <div style="width: 254px;">     
                    <div id="Display_Designation" style="color: #222222; font-size: 14px; font-family: Poppins; font-weight: 700; line-height: 20px; word-wrap: break-word;">
                      Product Designer
                    </div>
                    <div style="color: #797979; font-size: 11px; font-family: Prata; font-weight: 400; line-height: 16px; word-wrap: break-word;">
                     <span id="Display_Cname"> Fintef</span>, <span id="Display_From"> 2019 </span >-<span id="Display_To"> Present</span>
                    </div>
                    <div class="content">
                      <div id="Display_Description" style="color: #222222; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word; overflow: hidden;">
                          Designing end-to-end experience for financial products on mobile & web platforms. Working closely with managers, marketing specialists, and developers..cfvgbhnjsfgvbhjnksafghbjnedfghdbwcfgvhbjnkdfgdhbjnkansxgahjsnxbvcasxnrdtfy.crvtybunertgyhu567yghjrftgyhujrtgyhgyhujsccvgbhnjcvybnjrtyuhijrtyuhij.
                      </div>
                  </div>
                  
                  </div>  
                  <div  id="experienceContainer"></div>
                </div>
              
                <div class="education">
                  <div style="color: #1C8EB5; margin-top: 18px; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 20px; word-wrap: break-word;">
                    Education & Learning
                  </div>
              
                  <div style="width: 258px; ">
                    <div style="color: #222222; font-size: 12px; font-family: Poppins; font-weight: 700; line-height: 20px; word-wrap: break-word;">
                      <span id="displayDegree">Bachelor of Engineering</span><br> <span id="displayDegreeFrom"> 2015  </span> | <span id="displayDegreeTo"> 2017 </span>
                    </div>
                    <div id="displayCollege" style="color: #797979; font-size: 11px; font-family: Prata; font-weight: 400; line-height: 16px; word-wrap: break-word;">
                      Copenhagen School of Design and Technology,
                    </div>
                    <div id="displayCity" style="color: #797979; font-size: 11px; font-family: Prata; font-weight: 400; line-height: 16px; word-wrap: break-word;">
                      City 
                    </div>
                  </div>
                  <div style="margin-top: -25px;" id="educationContainer"></div>
                </div>
                


              </div>
            </div>

            

          </div>
        </div>
          <!-- Content will be replaced here based on the id -->
        </div>

      </div>
    </div>

    <div class="right-side1">

      <div class="zoom-controls">
        <label for="zoomRange">Zoom:</label>
        <input type="range" id="zoomRange" min="50" max="200" value="100" step="1" oninput="updateZoom()">
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="/static/dashboard_assets/js/custome.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</body>

</html>