<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Resume Builder</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/static/assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/static/dashboard_assets/css/template1.css">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css" integrity="sha384-8sDPOmoumMlrWYtrZPlnldkoBnf6U6fP4BdRyvnnkxi4Qa5HA5EMf5RTJt8aAzl"crossorigin="anonymous">

    <!-- Template Stylesheet -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/dashboard_assets/css/template1.css" rel="stylesheet">
    <style> .hidden {
      display: none;
    }
    .resume {
          width: 560px; /* Decreased width */
          max-width: 100%;
          margin: 0 auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
       .headingg{
        font-size: 20px;
       }
        .section {
          margin-bottom: 20px;
        }
        p{
            font-size: 12px;
        }
        .section h2 {
          border-bottom: 2px solid #333;
          padding-bottom: 5px;
        }
        .experience, .education {
          margin-top: 10px;
        }
        .experience p, .education p {
          margin: 5px 0;
        }
        .skills ul {
          list-style-type: none;
          padding: 0;
        }
        .skills li {
          display: inline-block;
          margin-right: 10px;
          background-color: #f2f2f2;
          padding: 5px 10px;
          border-radius: 5px;
        }
        .sub-heading{
          font-size: 15px;
        }
        
        
        .new_section {
  width: 50px;
  max-height: 900px; /* Set your desired fixed height here */
  overflow-y: auto; /* Enable vertical scrolling */
}

        
        
        </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid  px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
           
           
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
                <img src="/static/assets/img/recruitintell.png" height="60px" width="180px" alt="Finanza Logo" class="navbar-logo">
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a href="service.html" class="nav-item nav-link">Services</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-light m-0">
                            <a href="project.html" class="dropdown-item">Projects</a>
                            <a href="feature.html" class="dropdown-item">Features</a>
                            <a href="team.html" class="dropdown-item">Team Member</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <div class="d-none d-lg-flex ms-2">
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-facebook-f text-primary"></small>
                    </a>
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-twitter text-primary"></small>
                    </a>
                    <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                        <small class="fab fa-linkedin-in text-primary"></small>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
 
    <div class="container" style="margin-top: 80px;">
      <div class="row">
          <div class="col-md-5">
              <!-- Content for the first half of the page -->
             <div class="new_section" style="width:450px">
              <div class="left-side">
                <h2  style="font-size: 20px;">User Details Form</h2><br>
                <button type="button" class="custom-button" onclick="toggleContainer()">
                  <i class="fas fa-chevron-down"></i>
                  <h3 style="font-size: 20px;">Personal Information</h3>
                </button>
          
                <div id="profile" class="custom-container custom-container1 hidden">
                  <div class="columns-wrapper">
                    <div class="column">
                      <!-- Column 1: Profile Image -->
                      <img src="/static/dashboard_assets/img/team-2.jpg" alt="Profile Image" class="profile-image"><br>
                      <button class="edit-button" onclick="openPopup()">
                        <i class="fas fa-pencil-alt"></i>&nbsp;
                        Edit
                      </button><br>
          
          
                      <div id="imagePopup" class="popup">
                        <!-- Popup content -->
                        <label for="imageInput">Image:</label>
                        <input type="file" id="imageInput" accept="image/*">
                        <button onclick="closePopup()">Close</button>
                      </div>
          
                    </div>
          
                    <div class="column">
                      <!-- Column 2: User Information -->
                      <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" onkeyup="updateFName_Lname()">
                      </div>
                      <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" class="form-control" id="phoneNumber" onkeyup="updatePhoneno()">
                      </div>
                      <div class="form-group">
                        <label for="phoneNumber">Linked URL:</label>
                        <input type="text" class="form-control" id="linkedin" onkeyup="updateLinkedin()">
                      </div>
                    </div>
                    <div class="column">
                      <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" onkeyup="updateFName_Lname()">
                      </div>
                      <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" onkeyup="updateEmail()">
                      </div>
          
                    </div>
                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="toggleSummary()">
                  <i class="fas fa-chevron-down"></i>
                  <h3  style="font-size: 20px;">Profile Summary</h3>
                </button>
                <div id="summary" class="custom-container hidden">
                  <div class="experience-content">
                    <form>
                      <div class="form-group">
                        <label for="summaryTextArea">Add Profile Summary:</label>
                        <textarea class="form-control" id="summary1" name="summary" cols="45" rows="5"
                          onkeyup="updateSummary()"></textarea>
                      </div>
                    </form>
                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="toggleSkills()">
                  <i class="fas fa-chevron-down"></i>
                  <h3  style="font-size: 20px;">Skills</h3>
                </button>
          
                <div id="skills" class="custom-container custom-container1 hidden">
                  <div class="columns-wrapper">
                      <div class="column2" id="column1">
                          <!-- Column 1: Profile Image -->
              
                          
          
                          <div class="form-group" id="skillContainer1">
                            <label for="skill1">Add Skills(Separated by comma):</label>
                            <textarea class="form-control" id="skill1"  cols="45" rows="5"
                            onkeyup="updateSkills()"></textarea>
                          </div>
                          
            
                    </div>
            
                   
          
                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="workexperience()">
                  <i class="fas fa-chevron-down"></i>
                  <h3  style="font-size: 20px;">Work Experience</h3>
                </button>
                <div id="container1" class="custom-container hidden">
                  <div class="experience-section">
                    <div class="experience-header" onclick="toggleExperience(this)">
                      <i class="fas fa-chevron-down"></i>
                      <p><b>Experience 1</b></p>
                    </div>
                    <div class="experience-content">
                      <form id="experience1">
                        <div class="form-group">
                          <input type="text" id="jobtitle1" class="form-control" placeholder="Designation" name="jobtitle1"
                            style="height: 30px;" onkeyup="updateExperience()">
                        </div>
          
                        <div class="form-group">
                          <input type="text" id="company1" class="form-control" placeholder="Company Name" name="company1"
                            style="height: 30px;" onkeyup="updateExperience()">
                        </div>
                       
                       
                        <div class="form-group">
                          <label for="from1" style="margin-right: 10px;">From:</label>
                          <input type="month" id="from1" name="from1" class="form-control" style="height: 35px;"
                            onchange="updateExperience()">
                        </div>
                        <div class="form-group">
                          <label for="to1" style="margin-right: 10px;">To:</label>
                          <span id="to1Container">
                              <input type="month" id="to1" class="form-control" name="to1" style="height: 35px;"
                                  onchange="updateExperience()">
                          </span>
                          <label for="present1" style="margin-left: 10px;">
                              <input type="checkbox" id="present1" onchange="handlePresentCheckbox()"> Present
                          </label>
                      </div>
          
          
                        <div class="form-group">
                          <label for="description1">Description:</label>
                          <textarea id="description1" class="form-control" name="description1" rows="5"
                            onkeyup="updateExperienceDescription()"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <input type="submit" value="+ Add New Experience" onclick="addNewExperience()">
                  </div>
                </div>
                <br>
                <button type="button" class="custom-button" onclick="education()">
                  <i class="fas fa-chevron-down"></i>
                  <h3  style="font-size: 20px;">Education</h3>
                </button>
          
                <div id="container2" class="custom-container hidden">
                  <div class="education-section">
                    <div class="education-header" onclick="toggleEducation(this)">
                      <i class="fas fa-chevron-down"></i>
                      <p><b>Education 1</b></p>
                    </div>
                    <div class="education-content">
                      <form>
                        <div class="form-group">
                          <input type="text" id="degreeInput" class="form-control" placeholder="Degree" name="degreeInput" style="height: 30px;" onkeyup="updateDegree()">
                        </div>
                        <div class="form-group">
                          <input type="text" id="institution1" class="form-control" placeholder="Institution Name" name="institution1"
                            style="height: 30px;"oninput="updateInstitution()">
                        </div>
                        <div class="form-group">
                          <input type="text" id="city" class="form-control" placeholder="City" name="country1"
                            style="height: 30px;" onkeyup="updateCityCountry()">
                        </div>
                        <div class="form-group">
                          <label for="from1" style="margin-right: 10px;">From:</label>
                          <input type="month" id="degreeFromInput" name="degreeFromInput" class="form-control" style="height: 35px;"onchange="updateDegreeYear()" >
                        </div>
                        <div class="form-group">
                          <label for="to1" style="margin-right: 10px;">To:</label>
                          <input type="month" id="degreeToInput" class="form-control" name="degreeToInput" style="height: 35px;" onchange="updateDegreeYear()">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="+ Add New Education" onclick="addNewEducation()">
                  </div>
                </div>
          
          
                <br>
                <button type="button" class="custom-button" onclick="projects()">
                  <i class="fas fa-chevron-down"></i>
                  <h3  style="font-size: 20px;">Projects</h3>
                </button>
          
                <div id="container3" class="custom-container hidden">
                  <div class="project-section1">
                    <div class="experience-header" onclick="toggleProjects(this)">
                      <i class="fas fa-chevron-down"></i>
                      <p><b>Project 1</b></p><br>
                    </div>
                    <div class="project-content">
                      <form id="experience1">
                        <div class="form-group">
                          <input type="text" id="projectName" class="form-control" placeholder="Project Name" oninput="updateProjectname()" name="company1"
                            style="height: 30px;">
                        </div>
          
                        <div class="form-group">
                          <label for="description1">Tools used:</label>
                          <textarea id="projectTools" class="form-control" name="description1" rows="3" oninput="updateProjectTools()"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="description1">Link:</label>
                          <input type="text" id="projectLink" class="form-control" placeholder="Link" name="jobtitle1" oninput="updateProjectLink()"
                            style="height: 30px;">
          
                        </div>
                        <div class="form-group">
                          <label for="description1">Description:</label>
                          <textarea oninput="updateProjectDes()" id="projectDes" class="form-control" name="description1" rows="5"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <input type="submit" value="+ Add New Project" onclick="addNewProject()">
                  </div>
                </div><br>
                <button type="button" class="custom-button" onclick="toggleAchievements()">
                  <i class="fas fa-chevron-down"></i>
                  <h3  style="font-size: 20px;">Achievements</h3>
                </button>
                <script>
                  function updateAchievements() {
                      const textarea = document.getElementById('achievementstext');
                      const achievementsSection = document.querySelector('.achievements');
                      const achievementList = document.getElementById('achievementList');
                      const achievements = textarea.value.split(',').map(item => item.trim());
              
                      // Clear existing list
                      achievementList.innerHTML = '';
              
                      // Populate the list with achievements
                      achievements.forEach(achievement => {
                          if (achievement) {
                              const li = document.createElement('li');
                              li.textContent = achievement;
                              li.style.fontSize = '11px';
                              li.style.fontFamily = 'Prata';
                              li.style.fontWeight = '400';
                              li.style.lineHeight = '16px';
                              li.style.wordWrap = 'break-word';
                              achievementList.appendChild(li);
                          }
                      });
              
                      // Show the achievements section if there are achievements
                      if (achievements.filter(Boolean).length > 0) {
                          achievementsSection.classList.remove('hidden');
                      } else {
                          achievementsSection.classList.add('hidden');
                      }
                  }
              </script>
              
                
                <div id="achievements" class="custom-container hidden">
                  <div class="experience-content">
                    <form>
                      <div class="form-group">
                        <label for="achievementstext">Add Achievements:</label>
                        <textarea id="achievementstext" class="form-control" name="description1" cols="45" rows="5" oninput="updateAchievements()"></textarea>
                      </div>
                    </form>
                  </div>
                </div>
                
                <br>
                <button type="button" class="custom-button" onclick="toggleLanguages()">
                  <i class="fas fa-chevron-down"></i>
                  <h3  style="font-size: 20px;">Languages Known</h3>
                </button>
                <script>
                  function updateLanguages() {
                    const textarea = document.getElementById('languagetext');
                    console.log(textarea)
                    const languagesSection = document.getElementById('languagesKnow');
                    const langList = document.getElementById('languageList');
                    const languages = textarea.value.split(',').map(item => item.trim());
                
                    // Clear existing list
                    langList.innerHTML = '';
                
                    // Populate the list with languages
                    languages.forEach(language => {
                      if (language) {
                        const li = document.createElement('li');
                        li.textContent = language;
                        langList.appendChild(li);
                      }
                    });
                
                    // Show the languages section if there are languages
                    if (languages.filter(Boolean).length > 0) {
                      languagesSection.classList.remove('hidden');
                    } else {
                      languagesSection.classList.add('hidden');
                    }
                  }
                </script>
                <div id="languages" class="custom-container custom-container1 hidden">
                  <div class="columns-wrapper">
                    <div class="column2">
                    
                    
                    <div class="form-group">
                      <label for="languagetext">Add Languages Know:</label>
                      <textarea id="languagetext" class="form-control" name="description1" cols="45" rows="5" oninput="updateLanguages()"></textarea>
                    </div>
                    </div>
                 </div>
                </div>
                <br>
              </div>
            </div>
          </div>
        
          <div class="col-md-7">
              <!-- Content for the second half of the page -->
            
                      
              <div id="temp1" class="content_wrapper">
                <div id="dynamicContent">
                  <div>
                  <div class="heading">
                    <div class="header-left">
                      <h4 id="Display_Fname">Abhishek <span id="Display_Lname">M</span></h4>
                      <p class="p-info"> <i class="fab fa-linkedin"></i> &nbsp; <span id="Display_lnkedin">
                          https://www.linkedin.com/in/sangeeta-dani-2688b6262/</span> </p>
                    </div>
                    <div class="header-right">
                      <p class="p-info"><i class="fas fa-phone"></i> <span id="Display_Phoneno">
                          9876564534 </span><br> <i class="far fa-envelope"></i> <span
                          id="Display_Email">abhi56@gmail.com </span><br> <i class="fas fa-map-marker-alt"></i> Hubli
                        <br>

                      </p>

                    </div>
                  </div>
                  <hr>
                  <div style="display:flex">
                    <div style=" padding:20px; border-right:1px solid black;flex:1; text-align: left;">
                      <div class="education-side">
                        <div class="education1">
                          <h5 class="resume-subheading">Education</h5>
                          <p class="edu" style="margin-bottom: 0px;" id="displayDegree">Bachelor of Computer Application
                          </p> <span class="content-text" id="displayDegreeFrom">2020 </span> - <span
                            id="displayDegreeTo" class="content-text">2023</span>
                          <p class="college" id="displayCollege" style="margin-bottom: 0px;">IBMR College of BCA </p>
                          <span class="content-text" id="displayCity">Hubli</span>
                        </div>
                      </div><br>
                      <div class="skill-section">
                        <h5 class="resume-subheading">Skills</h5>
                        <ul id="skillsList">
                          <li class="content-text">python</li>
                          <li class="content-text">Django</li>
                          <li class="content-text">SQL</li>
                          <li class="content-text">Communication</li>
                          <li class="content-text">Problem solving</li>
                        </ul>
                      </div><br>
                      <div class="acheivemets-section">
                        <h5 class="resume-subheading">Achievements</h5>
                        <ul id="achievementList">
                          <li class="content-text">Improved product sales by 12%, which led to a 20% increase in annual
                            revenue.</li>
                        </ul>
                      </div><br>
                      <div class="lang-section">
                        <h5 class="resume-subheading">Languages Known</h5>
                        <ul id="languageList">
                          <li class="content-text">English</li>
                          <li class="content-text">Hindi</li>
                          <li class="content-text">Kannada</li>

                        </ul>
                      </div><br>
                    </div>
                    <div style=" padding:20px;  flex:2; text-align: left;">
                      <div class="profile-summary">
                        <h5 class="resume-subheading">Profile Summary</h5>
                        <p class="content-text" id="Display_Summary">Enthusiastic recent graduate with a degree in
                          Computer Science and a passion for software development.
                          Proficient in Java and Python, with a strong foundation in algorithm design.
                          Eager to contribute to a dynamic team and apply problem-solving skills in a collaborative
                          environment.</p>
                      </div><br>
                      <div class="experience-section">
                        <div class="work-exp">
                          <h5 class="resume-subheading">Experience</h5>
                          <h6 class="last-heading" id="Display_Designation">Research Analyst</h6>
                          <p class="content-text" style="margin-bottom: 0px;" id="Display_Cname">Haegl technologies pvt
                            ltd</p>
                          <span class="content-text" id="Display_From">June 2020 </span> | <span class="content-text "
                            id="Display_To"> Aug 2021 </span>
                          <ul id="Display_Description">
                            <li class="content-text">Prototyped an average of 15 new products in a year, Increased user
                              experience by 20%</li>
                            <li class="content-text">Implemented coding best practices that reduced rework by 25% and
                              cost by 12%</li>
                            <li class="content-text">Received a website award for Best Navigation and Structure 2019
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="experience-side" id="experience-side' + experienceCount">
                        <!-- Placeholder for experience display -->
                      </div>
                      <div class="projects-section">
                        <h5 class="resume-subheading">Projects</h5>
                        <div id="projects">
                          <h6 class="last-heading" id="displayProjectName">Fees Management System</h6>
                          <span class="content-text">Tools used </span> | <span class="content-text " id="displayTools">
                            Python, django, sql, excel </span>

                          <p class="content-text" id="displayProjectDes">Developed a streamlined and efficient fees
                            processing website. User-friendly web-based Fees management System that automated entire fee
                            processing
                            workflow by integrating secure payment gateway. Students can crack their fees and pay
                            accordingly through Razor pay gateway.</p>

                          <div style="margin-top: 5px;" id="projectsContainer"></div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
          </div>
        
      </div>
  </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/lib/wow/wow.min.js"></script>
    <script src="/static/assets/lib/easing/easing.min.js"></script>
    <script src="/static/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/assets/lib/counterup/counterup.min.js"></script>
    <script src="/static/dashboard_assets/js/custome.js"></script>
    <!-- Template Javascript -->
    <script src="/static/assets/js/main.js"></script>
</body>

</html>