
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap'); 

.content_wrapper{
    margin-left: 145px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    vertical-align: baseline; 
    background: transparent;
} 

.template-preview:hover  { 
    outline: 5px solid #2f5cf8;
} 

ul { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    vertical-align: baseline; 
    background: transparent;
} 

ul { 
    list-style: none;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 
.skn-mld8 { 
    color: #000; 
    word-wrap: break-word; 
    font-weight: 400; 
    box-sizing: border-box; 
    min-height: 792px;
} 

.skn-mld8 { 
    padding-left: 25px; 
    padding-right: 25px;
} 

.skn-mld8 { 
    line-height: 13px;
} 

.document { 
    background-color: #fff; 
    min-height: 83.5rem; 
    margin-bottom: 3rem; 
    box-sizing: content-box; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    position: content-box;
} 

.skn-mld8.pagesize { 
    width: 612px;
} 

.skn-mld8.fontsize { 
    font-size: 10px;
} 

.skn-mld8.fontface { 
    font-family: Source Sans Pro;
} 

.skn-mld8.vmargins { 
    padding-top: 40px;
} 

.document[class*="skn-mld8"] { 
    box-sizing: border-box;
} 

.document[class*="skn-"]  { 
    -webkit-transform: scale(0.556); 
    transform: scale(0.556); 
    -webkit-transform-origin: 0 0; 
    transform-origin: 0 0;
} 


.skn-mld8 .top-section  { 
    position: relative; 
    margin-bottom: 30px;
} 

.skn-mld8 .parent-container  { 
    position: relative;
} 

.skn-mld8 .parent-container  { 
    display: table; 
    width: 100%; 
    table-layout: fixed;
} 

.skn-mld8.RNA .parent-container  { 
    min-height: inherit;
} 

.skn-mld8 .parent-container::before { 
    background: #bca97e; 
    content: ""; 
    position: absolute; 
    height: 100%; 
    min-height: calc(792px - 130px); 
    width: 171px; 
    opacity: .25; 
    left: -25px; 
    top: 0;
} 

.skn-mld8 .parent-container::before { 
    width: 171px; 
    background: #bca97e;
} 

.skn-mld8 .name-sec .name::before, .skn-mld8 .top-section .resume-title::before, .skn-mld8 .top-section .cntc-sec::before, .skn-mld8 .parent-container::before { 
    left: -25px;
} 

.section-container { 
    position: relative;
} 

.document-tool { 
    position: absolute; 
    top: -4.1rem; 
    right: -3.9rem; 
    z-index: 99; 
    padding: 0 1rem 1rem 10rem; 
    display: none;
} 

.section { 
    min-height: 1.8rem; 
    position: relative; 
    z-index: 2;
} 

.skn-mld8 .section  { 
    padding-top: 10px;
} 

.skn-mld8 .name-sec  { 
    border: none!important; 
    margin: 0!important; 
    padding: 0!important;
} 

.skn-mld8 .section  { 
    padding-bottom: 25px;
} 

.skn-mld8 .cntc-sec  { 
    border: none!important; 
    padding-top: 5px!important; 
    padding-bottom: 0!important;
} 

.skn-mld8 .cntc-sec  { 
    line-height: 12px;
} 

.skn-mld8 .name-sec .name::before, .skn-mld8 .top-section .resume-title::before, .skn-mld8 .top-section .cntc-sec::before { 
    content: ""; 
    position: absolute; 
    background: #000; 
    top: 0px; 
    height: 100%; 
    border: 1px solid #000; 
    box-sizing: border-box;
} 

.skn-mld8 .name-sec .name::before, .skn-mld8 .top-section .resume-title::before, .skn-mld8 .top-section .cntc-sec::before { 
    width: 25px;
} 

.doc-overlay { 
    position: absolute; 
    top: -.3rem; 
    bottom: -.7rem; 
    margin: 0 -.1rem; 
    z-index: 1; 
    border: .3rem solid #ffcd7d; 
    background-color: rgba(255,205,125,0.3); 
    display: none;
} 

.name-contact .doc-overlay  { 
    bottom: 0;
} 

.document[class*="skn-mld8"] .name-contact .doc-overlay  { 
    bottom: -.4rem;
} 

.skn-mld8 .parent-container .section  { 
    position: relative;
} 

.skn-mld8 .parent-container .section::after { 
    content: ''; 
    position: absolute; 
    width: 100%; 
    left: 0; 
    top: 0; 
    border-top: 1px solid #000;
} 

.skn-mld8 .parent-container .section::after { 
    border-top: 1px solid #000;
} 

.skn-mld8 .lang-sec  { 
    padding-left: 165px;
} 

.skn-mld8 .lang-sec.infobarsec  { 
    font-size: 0;
} 

.skn-mld8 .lang-sec.infobarsec  { 
    padding-left: 165px;
} 

.skn-mld8.RNA .parent-container .sortable-item:last-child .section  { 
    padding-bottom: 40px;
} 

.doc-item { 
    position: relative; 
    z-index: 99;
} 

span { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    vertical-align: baseline; 
    background: transparent;
} 

.skn-mld8 .heading  { 
    float: left; 
    word-wrap: break-word; 
    clear: both; 
    font-weight: bold; 
    position: relative; 
    color: #000; 
    font-style: italic;
} 

.skn-mld8 .heading  { 
    width: 126px;
} 

.skn-mld8.RNA .heading  { 
    width: 129px;
} 

.document[class*="skn-mld8"] .heading  { 
    z-index: 9999;
} 

.skn-mld8 .lang-sec.infobarsec .heading  { 
    margin-left: -165px;
} 

.skn-mld8 .sectiontitle  { 
    text-transform: capitalize;
} 

.skn-mld8 .sectiontitle  { 
    font-size: 16px; 
    line-height: 18px;
} 

.skn-mld8 .data-EXPR .sectiontitle  { 
    position: absolute; 
    width: 126px;
} 

.skn-mld8.RNA .sortableInner  { 
    margin-left: 0;
} 

.skn-mld8 .data-EDUC .sectiontitle  { 
    position: absolute; 
    width: 126px;
} 

.skn-mld8 .paragraph  { 
    margin-top: 15px;
} 

.skn-mld8 .firstparagraph  { 
    margin-top: 0; 
    padding-top: 0!important;
} 

.paragraph  { 
    position: relative; 
    z-index: 99; 
    min-height: 1rem; 
    cursor: pointer;
} 

.skn-mld8 .paragraph::after { 
    content: ''; 
    clear: both; 
    display: table;
} 

.text-rename { 
    color: #2f5cf8; 
    font-weight: 600; 
    text-transform: capitalize; 
    line-height: 1rem; 
    margin-left: .5rem; 
    cursor: pointer; 
    position: absolute; 
    z-index: 9; 
    visibility: hidden; 
    font-family: "Work Sans",sans-serif; 
    font-size: 1.2rem; 
    letter-spacing: -.03rem;
} 

.document[class*="skn-mld8"] .heading .text-rename  { 
    display: block; 
    margin-left: 0; 
    margin-top: .5rem;
} 

.paragraph-container { 
    position: relative;
} 

.skn-mld8 .educ-sec .firstparagraph  { 
    margin-top: 0!important;
} 

.skn-mld8 .educ-sec .paragraph  { 
    margin-top: 10px;
} 

.skn-mld8 .SECTION_LNGG .sortable-item  { 
    display: inline-block; 
    vertical-align: top;
} 

.clearfix:after { 
    display: block; 
    clear: both; 
    content: "";
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 

.d-none { 
    display: none !important;
} 

[data-react-beautiful-dnd-drag-handle="23"] { 
    -webkit-touch-callout: none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    touch-action: manipulation;
} 

[data-react-beautiful-dnd-drag-handle="23"] { 
    cursor: -webkit-grab; 
    cursor: grab;
} 

.btn-icon-tertiary { 
    color: #2f5cf8; 
    background-color: rgba(0,0,0,0); 
    border-color: rgba(0,0,0,0);
} 

button,[type="button"]  { 
    -webkit-appearance: button;
} 

.btn-icon-tertiary:hover { 
    color: #2f5cf8;
} 

.skn-mld8 .lang-sec .nativeLangPara  { 
    width: 100%!important; 
    max-width: 100%!important;
} 

.skn-mld8 .lang-sec .nativeLangPara  { 
    width: {$LGTW}; 
    max-width: {$LGTW};
} 

.skn-mld8 .SECTION_LNGG .nativeLangPara  { 
    width: 402px!important; 
    max-width: 402px;
} 

.skn-mld8 .SECTION_LNGG .paragraph  { 
    width: 195px; 
    max-width: 195px;
} 

.skn-mld8 .lang-sec.infobarsec .paragraph  { 
    display: inline-block; 
    vertical-align: top; 
    padding-bottom: 5px; 
    margin-top: 0;
} 

.skn-mld8 .lang-sec.infobarsec .paragraph  { 
    width: 191px; 
    max-width: 191px;
} 

.document[class*="skn-mld8"] .SECTION_LNGG .paragraph  { 
    width: 19rem;
} 

.skn-mld8 .lang-sec.infobarsec .paragraph::before { 
    display: none;
} 

.skn-mld8 .lang-sec.infobarsec .para_odd  { 
    margin-right: 15px;
} 

.skn-mld8 .txt-bold  { 
    font-weight: bold;
} 

.skn-mld8 .name  { 
    font-family: 'Montserrat'; 
    letter-spacing: 1px; 
    padding: 0; 
    padding-bottom: 5px;
} 

.skn-mld8 .name  { 
    font-size: 24px; 
    line-height: 29px; 
    margin-left: 60px;
} 

.skn-mld8 .top-section .resume-title  { 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    color: #bca97e; 
    font-weight: 900;
} 

.skn-mld8 .top-section .resume-title  { 
    line-height: 12px; 
    margin-left: 60px; 
    color: #bca97e;
} 

.skn-mld8 .address  { 
    margin-left: 60px;
} 

.skn-mld8 .singlecolumn  { 
    margin-left: 165px;
} 

.skn-mld8 .singlecolumn ,.skn-mld8 .maincolumn  { 
    margin-left: 165px;
} 

.skn-mld8 .lang-sec.infobarsec .paragraph *  { 
    font-size: 10px;
} 

.skn-mld8 ul  { 
    list-style: none; 
    margin: 0; 
    padding: 0;
} 

.skn-mld8 .address ul  { 
    margin: 0;
} 

p { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    vertical-align: baseline; 
    background: transparent;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

.document p { 
    margin: 0;
} 

.skn-mld8 .skill  { 
    display: table; 
    width: 100%; 
    table-layout: fixed;
} 

.skn-mld8.RNA .sortableInner .singlecolumn  { 
    margin-left: 165px;
} 

.skn-mld8 .disp-blk  { 
    display: block;
} 

.skn-mld8 .lang-sec .singlecolumn  { 
    display: none;
} 

.skn-mld8 .lang-sec.infobarsec .infobarpara  { 
    display: block;
} 

.skn-mld8 .lang-sec.infobarsec .singlecolumn  { 
    margin-left: 0!important; 
    padding-left: 0; 
    position: relative;
} 

.skn-mld8 li  { 
    list-style: none; 
    margin: 0; 
    padding: 0;
} 

.skn-mld8 ul li  { 
    position: relative; 
    margin: 0px; 
    padding-left: 9px;
} 

.skn-mld8 ul li  { 
    padding-left: 9px;
} 

.skn-mld8 .address li  { 
    display: inline; 
    padding: 0 10px 0 0; 
    margin: 0; 
    max-width: 100%;
} 

.skn-mld8 .address li:first-child  { 
    padding-left: 0;
} 

.skn-mld8 ul li::before { 
    content: '\2022'; 
    position: absolute; 
    left: 0; 
    top: 0; 
    font-family: "Source Sans Pro";
} 

.skn-mld8 .address ul li::before { 
    display: none;
} 

.skn-mld8 ul li:last-child  { 
    padding-bottom: 0px;
} 

.skn-mld8 .address li:last-child  { 
    padding-right: 0;
} 

.skn-mld8 span.paddedline  { 
    display: block;
} 

.skn-mld8 .skill .paddedline  { 
    display: table-cell; 
    width: 50%; 
    padding-right: 20px;
} 

.skn-mld8 .skill .paddedline:last-child  { 
    padding-right: 0;
} 

.skn-mld8 .expr-size  { 
    font-size: 12px; 
    line-height: 15px;
} 

.skn-mld8 .displayNoneThisField  { 
    display: none;
} 

.skn-mld8 .txt-caps  { 
    text-transform: capitalize;
} 

.skn-mld8 .txt-italic  { 
    font-style: italic;
} 

.skn-mld8 .lang-sec.infobarsec .nativeLangPara .field  { 
    display: inline;
} 

.skn-mld8 .lang-sec.infobarsec .rating-bar  { 
    background: #d5d6d6; 
    width: 100%; 
    clear: both; 
    margin-top: 3px;
} 

.skn-mld8 .address li > span:first-child::before { 
    padding-left: 10px;
} 

.skn-mld8 .address li > span:first-child::before { 
    content: "\2022"; 
    position: relative; 
    top: 0; 
    left: -10px; 
    font-weight: 400; 
    font-family: "Source Sans Pro";
} 

.skn-mld8 .address li:first-child > span:first-child::before { 
    display: none;
} 

.skn-mld8 .address li .email  { 
    word-break: break-all;
} 

.skn-mld8 .expr-sec ul  { 
    margin-top: 5px!important;
} 

.skn-mld8 .lang-sec.infobarsec .field *  { 
    display: inline;
} 

.skn-mld8 .flt-right  { 
    float: right;
} 

.skn-mld8 .lang-sec.infobarsec .inner-rating  { 
    position: relative;
} 

.skn-mld8 .lang-sec.infobarsec .inner-rating  { 
    background-color: #bca97e; 
    height: 4px; 
    width: 60%;
} 

.skn-mld8 .lang-sec.infobarsec .inner-rating  { 
    background-color: #bca97e;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#editIcons.style-Za2JB {  
   right: -2px;  
}  
#style-RRs54.style-RRs54 {  
   display: none;  
}  
#style-oAxeS.style-oAxeS {  
   display: none;  
}  
#style-plliV.style-plliV {  
   display: none;  
}  
#style-3V4hM.style-3V4hM {  
   display: none;  
}  
#style-ggG8S.style-ggG8S {  
   display: none;  
}  
#style-pf4GX.style-pf4GX {  
   display: none;  
}  
#style-6Cjon.style-6Cjon {  
   display: none;  
}  
#style-CL9OX.style-CL9OX {  
   display: none;  
}  
#style-ANUlr.style-ANUlr {  
   display: none;  
}  
#style-o3yBR.style-o3yBR {  
   display: none;  
}  
#style-Bth3P.style-Bth3P {  
   left:-2px;  
    right: -2px;  
}  
#editIcons.style-Ua1Yi {  
   right: -2px;  
}  
#editIcons.style-ghxqt {  
   right: -2px;  
}  
#editIcons.style-3Yerh {  
   right: -2px;  
}  
#style-QiEZa.style-QiEZa {  
   display: none;  
}  
#style-9I5kh.style-9I5kh {  
   display: none;  
}  
#editIcons.style-PmtNv {  
   right: -2px;  
}  
#style-JLer2.style-JLer2 {  
   display: none;  
}  
#style-LfNzZ.style-LfNzZ {  
   display: none;  
}  
#style-fnGOf.style-fnGOf {  
   display: none;  
}  
#style-fHWIw.style-fHWIw {  
   display: none;  
}  
#editIcons.style-wUCAE {  
   right: -2px;  
}  
#style-zjUj9.style-zjUj9 {  
   display: none;  
}  
#FIELD_RATV.style-rvDQt {  
   width: 0%;  
}  
#FIELD_RATV.style-Nev3b {  
   width: 100%;  
}  
#FIELD_RATV.style-IYpdn {  
   width: 66.6667%;  
}  
